**1-Write a Python program to calculate the length of a string using 2 ways

In [3]:
x='moaz'
print(len(x))

4

In [2]:
x='moaz'
counter=0
for i in x:
    counter+=1
print(counter)

4

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [3]:
x=input()
if(len(x)>1):
    x=x[0:2]+x[-2]+x[-1]
else:
    x="Empty String"
print(x)

mo
momo

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [26]:
x=input()
if(len(x)>2):
    if(x[-3:]!="ing"):
        x=x+"ing"
    else:
        x=x+"ly"
print(x)

abcing
abcingly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [35]:
x=['hiiiii','hola000','hello']
max_=len(x[0])
index=0
for i in x:
    if(len(i)>max_):
        max_=len(i)
        index +=1
print(x[index],max_)

hola000 7

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [37]:
x=input()
x='e'+x[1:-1]+'e'
print(x)

abca
ebce

In [39]:
x=input()
x=x[1:-1]
print(f'e{x}e')

abca
ebce

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [41]:
x=input()
y=''
for i in range(0,len(x),2):
    y +=x[i]
print(y)

abca
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [47]:
x='amr and ahmed are frindes but amr is the tallest'
x=x.split()
c={}
for i in x:
    c[i]=0
for i in x:
    if(i in c):
        c[i] +=1
print(c)

{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'frindes': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [49]:
x=input()
print(x.upper())
print(x.lower())

moaz
MOAZ
moaz

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [53]:
def revers(x):
    t=''
    for i in range(-1,-(len(x)+1),-1):
        t += x[i]
    return t
x=input()
if(len(x)%4==0):
    print(revers(x))

moaz
zaom

**10- Write a Python program to remove a newline in Python

In [54]:
x='hello, world!\n'
print(x) #with newline
print(x.strip()) #without newline

hello, world!

hello, world!

**11-Write a Python program to check whether a string starts with specified characters

In [55]:
x=input()
d=['a','c','r']
if(x[0]==d[0] or x[0]==d[1] or x[0]==d[2]):
    print("True!")
else:
    print("False!")

ali
True!

**12- Write a Python program to add prefix text to all of the lines in a string

In [67]:
import textwrap as tw
org_text="""    Python is an interpreted, object-oriented programming languages. 
    high-level programming language that can be used for a wide variety of applications. 
    Python is a powerful general-purpose programming language.
    First developed in the late 1980s by Guido van Rossum. 
    Python is open source programming language.
    Guido van Rossum named it after the BBC Comedy TV series Monty Python’s Flying Circus.
"""
text_without_indent=tw.dedent(org_text)
txt=tw.fill(text_without_indent,width=70)
fin_text=tw.indent(txt,'* ')
print(fin_text)

* Python is an interpreted, object-oriented programming languages.
* high-level programming language that can be used for a wide variety of
* applications.  Python is a powerful general-purpose programming
* language. First developed in the late 1980s by Guido van Rossum.
* Python is open source programming language. Guido van Rossum named it
* after the BBC Comedy TV series Monty Python’s Flying Circus.

**13-Write a Python program to print the following numbers up to 2 decimal places

In [75]:
x=3.141592653589793
x1=f"{x:.2f}"
print(x1)
x2="{:.2f}".format(x)
print(x2)
x3=round(x,2)
print(x3)

3.14
3.14
3.14

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [74]:
x=-3.141592653589793
x1=f"{x:.2f}"
print(x1)
x2="{:.2f}".format(x)
print(x2)
x3=round(x,2)
print(x3)

-3.14
-3.14
-3.14

**15-Write a Python program to display a number with a comma separator

In [92]:
x=input()
x1=''
count=0
for i in range(-1,-(len(x)+1),-1):
    if(count!=3):
        x1 +=x[i]
        count +=1
    else:
        x1 +=','
        count=0
        x1 +=x[i]
x1=x1[::-1]
print(x1)

99999
999,99

**16-Write a Python program to reverse a string using 2 ways

In [94]:
x='moaz'
x=x[::-1]

'zaom'

In [113]:
x='moaz'
f=[]
for i in x:
    f.append(i)
f=f[::-1]
x=''.join(f)
print(x)

zaom

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [118]:
x=input()
x=x.split()
x=''.join(x)
repeat={}
for i in x:
      repeat[i]=0
for i in x:
    if(i in repeat):
        repeat[i]+=1
print(repeat)

  @media print {
    .ms-editor-squiggles-container {
      display:none !important;
    }
  }
  .ms-editor-squiggles-container {
    all: initial;
  }aaa gg hhhh t
{'a': 3, 'g': 2, 'h': 4, 't': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [127]:
x=input()
x=x.split()
x=''.join(x)
repeat={}
for i in x:
      repeat[i]=0
for i in x:
    if(i in repeat):
        repeat[i]+=1
print(repeat)
for i in repeat:
    if(repeat[i]==1):
        print(i)
        break

  @media print {
    .ms-editor-squiggles-container {
      display:none !important;
    }
  }
  .ms-editor-squiggles-container {
    all: initial;
  }aaa f m oo
{'a': 3, 'f': 1, 'm': 1, 'o': 2}
f

**19-Write a Python program to remove spaces from a given string

In [129]:
x=input()
x=x.split()
x=''.join(x)
print(x)

m o a z
moaz

**20-Write a Python program to count the number of non-empty substrings of a given string

In [133]:
x=input()
x=x.split()
print(len(x))

  @media print {
    .ms-editor-squiggles-container {
      display:none !important;
    }
  }
  .ms-editor-squiggles-container {
    all: initial;
  }moaz Abdeljalil salah
3

**21-write a Python program to swap first and last element of any list.

In [135]:
x=['hi', 'hola', 'hello','welcome']
temp=x[0]
x[0]=x[-1]
x[-1]=temp
print(x)

['welcome', 'hola', 'hello', 'hi']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [139]:
x=input()
x=x.split()
pos1=int(input())-1
pos2=int(input())-1
temp=x[pos1]
x[pos1]=x[pos2]
x[pos2]=temp
print(x)

23 65 19 90
1
3
['19', '65', '23', '90']

**23- search for the all ways to know the length of the list

In [151]:
x=['hi', 'hola', 'hello','welcome']
print(len(x))
#-----------------------
cont=0
for i in x:
    cont+= 1
print(cont)
#-----------------------
cont=-1
while(x[0]!=x[cont]):
    cont -=1
print(-cont)

4
4
4

**24-write a Python code to find the Maximum number of list of numbers.

In [155]:
x=[50,60,90,10,30]
maxx=x[0]
for i in x:
    if(i>maxx):
        maxx=i
print(maxx)
#------------------
print(max(x))

90
90

**25-write a Python code to find the Minimum number of list of numbers.

In [156]:
x=[50,60,90,10,30]
minn=x[0]
for i in x:
    if(i<minn):
        minn=i
print(minn)
#-----------------
print(min(x))

10
10

**26-search for if an elem is existing in list

In [160]:
x=[50,60,90,10,30]
elem=90
for i in x:
    if(elem==i):
        print("Found!")
        break
else:
    print("Not Found!")

Found!

**27- clear python list using different ways

In [196]:
x=[50,60,90,10,30]
print(x.clear())
#----------------------
x=[50,60,90,10,30]
for i in x[:]:
    x.remove(i)
print(x)

None
50
60
90
10
30
[]

**28-remove duplicated elements from a list

In [199]:
x=[1,1,2,3,4,5,5,9]
d={}
y=[]
for i in x:
    d[i]=0
for i in d:
    y.append(i)
print(y)

[1, 2, 3, 4, 5, 9]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [4]:
test_list = ['Gfg', 3, 'is', 8]
key_list = ['name', 'id'] 
d={}
r=[]
for i in key_list:
    d[i]=0
count=0
for i in test_list:
    if(count !=len(key_list)):
        d[key_list[count]]=i
        count+=1
    else:
        print(d)
        r.append(d)
        print(r)
        count=0
        d[key_list[count]]=i
        count+=1
print(r)

{'name': 'Gfg', 'id': 3}
[{'name': 'Gfg', 'id': 3}]
[{'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways**

In [10]:
x=[1,2,2,3,4,5,5,9,1,7]
d={}
count=0
for i in x:
    d[i]=0
for i in x:
    if i in d:
        d[i]+=1
for i in d:
    if(d[i]==1):
        count+=1
print(count)

4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )**

In [17]:
x = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k=3
d={}
op=[]
count=0
for i in x:
    d[i]=0
for i in x:
    if i in d:
        d[i]+=1
for i in d:
    if(d[i]>3):
        op.append(i)
print(op)

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)**

In [18]:
x=[1,2,2,3,4,5]
y=[]
for i in range(1,len(x)):
    r=max(x[i],x[i-1])
    y.append(r)
print(y)

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)**

In [24]:
from itertools import permutations
x=[1,2,3]
for perm in permutations(x):
    print(list(perm))

[1, 2, 3]
[1, 3, 2]
[2, 1, 3]
[2, 3, 1]
[3, 1, 2]
[3, 2, 1]

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])**

In [34]:
from itertools import combinations
x=[1,2,3]
for i in range(1,len(x)+1):
     for comp in combinations(x,i):
        print(list(comp))

[1]
[2]
[3]
[1, 2]
[1, 3]
[2, 3]
[1, 2, 3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )**

In [47]:
from itertools import product
from itertools import combinations
l1=['a','b']
l2=[1,2]
for i in product(l1,l2):
    print(i)

('a', 1)
('a', 2)
('b', 1)
('b', 2)

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1**

**Output : 2 3 4 5 2)**

In [49]:
x=[1,1,2,3,4,5,1,2,1]
element=1
y=[]
for i in x:
    if(i!=element):
        y.append(i)
print(y)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])**

In [52]:
l1=['Gfg', 'is', 'best'] 
l2=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
l3=[]
for i in l2:
    l3.append(l1[i])
l3

['Gfg',
 'is',
 'best',
 'is',
 'Gfg',
 'Gfg',
 'Gfg',
 'best',
 'is',
 'is',
 'best',
 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )**

In [56]:
def retain_records(records,n,k):
    return[record for record in records if record.count(k)==n]

records = [[4,5,5,4], [5,4,3], [3, 3, 3], [1, 1, 2], [2, 2, 2]]
print(retain_records(records,3,5))

[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]**

In [82]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
temp=array[:]
temp0=[]
sorted_array=[]
x=int(input())
min_ele=array[0][x]
min_col=array[0]
count=0
while(count!=2):
    for i in temp:
        if(i[x]<min_ele):
            min_ele=i[x]
            min_col=i
    sorted_array.append(min_col)
    temp0=temp[:]
    temp.clear()
    for i in temp0:
        if(i!=min_col):
            temp.append(i)
    count+=1
    min_ele=temp[0][x]
    min_col=temp[0]
sorted_array.append(temp)
print(sorted_array)

2
[[3, 2, 1], [2, 1, 2], [[1, 3, 3]]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}**

**Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}**

In [99]:
d={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
s_d={}
x=input()
l=[]
if(x=='key'):
    l=list(d.keys())
    l.sort()
    for i in l:
        s_d[i]=d[i]
    print(s_d)
elif(x=='value'):
    l=list(d.values())
    l.sort()
    for i in l:
        for j in d:
            if(d[j]==i):
                s_d[j]=i
    print(s_d)

value
{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}**

In [104]:
d = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
k=7
l=list(d.keys())
for i in l:
    if(type(d[i])!=str):
        if(d[i]>=k):
            del(d[i])
print(d)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one**

**Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}**

In [122]:
dic1={1:10, 2:20}
dic2={3:30, 4:40} 
dic3={5:50,6:60}
l=list(dic1.keys())+list(dic2.keys())+list(dic3.keys())
l_1=list(dic1.values())+list(dic2.values())+list(dic3.values())
d={x: i for i,x in zip(l_1,l)}
d

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops**

In [142]:
d = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
print("Keys".ljust(8,' '),'Values')
print(''.ljust(16,'-'))
for i in d:
    print(i.ljust(8,' '),d[i])

Keys     Values
----------------
Gfg      3
is       7
best     10
for      6
geeks    CS

**44- Write a Python script to merge two Python dictionaries**

In [143]:
dic1={1:10, 2:20}
dic2={3:30, 4:40} 
dic3={5:50,6:60}
l=list(dic1.keys())+list(dic2.keys())+list(dic3.keys())
l_1=list(dic1.values())+list(dic2.values())+list(dic3.values())
d={x: i for i,x in zip(l_1,l)}
d

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**45-Write a Python program to get the maximum and minimum values of a dictionary values**

In [144]:
d={1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
l=list(d.values())
print(max(l))
print(min(l))

60
10

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}**

In [149]:
d= {'c1': 'Red', 'c2': 'Green', 'c3': None}
temp=d.copy()
for i in temp:
    if(temp[i]==None):
        del(d[i])
d

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item**

In [150]:
x=input()
x=x.split()
x=tuple(x)
print(x[0])

1 2 3
1

**48-Write a Python program to unpack a tuple into several variables**

In [156]:
x=(1,2,'moaz',[1,2,3])
x0,x1,x2,x3=x

1

**49-Write a Python program to add an item to a tuple**

In [163]:
x=0
y=(1,2,3,4)
z=y+(x,)
z

(1, 2, 3, 4, 0)

**50-Write a Python program to convert a tuple to a string**

In [166]:
x=('m','o','a','z')
s=''
for i in x:
    s+=i
s

'moaz'

In [181]:
x=('m','o',1,'a','z')
l=list(map(str,x))
l=''.join(l)
l

'mo1az'

**51-Write a Python program to convert a list to a tuple**

In [186]:
x=[1,2,3,4,5]
y=()
for i in x:
    y=y+(i,)
#--------------------
y=tuple(x)

(1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple**

In [189]:
x=(1,2,3,4)
y=list(x)
y.reverse()
x=tuple(y)
x

(4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]**

In [190]:
l= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
l_n=[]
value=100
for i in l:
    i=list(i)
    i[-1]=value
    i=tuple(i)
    l_n.append(i)
l_n

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')**

In [193]:
x='python 3.0'
l=[]
for i in x:
    if(i==' '):
        continue
    l.append(i)
t=tuple(l)
t

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples**

In [198]:
import numpy as np
t=((1,2,3),(4,5,6),(7,8,9))
avg=[]
r=np.array(list(t))
avg.append(np.mean(r))
print(tuple(avg))

(5.0,)

**56-Write a Python program to add member(s) to a set.**

In [202]:
s=[]
s=set(s)
x=input()
while(x!='0'):
    s.add(x)
    x=input()
print(s)

1
2
3
0
{'1', '2', '3'}

**57-Write a Python program to remove an item from a set if it is present in the set.**

In [206]:
s={1,2,3,4,5}
ele=4
if(ele in s):
    s.remove(ele)
s

{1, 2, 3, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets**

In [210]:
s0={1,2,3,4,5}
s1={5,6,7,8,9}
inter=s0.intersection(s1)
uni=s0.union(s1)
diff=s0.difference(s1)
sym_diff=s0.symmetric_difference(s1)
print("Intersection:", inter)
print("Union:", uni)
print("Difference (set1 - set2):", diff)
print("Symmetric Difference:", sym_diff)

Intersection: {5}
Union: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Difference (set1 - set2): {1, 2, 3, 4}
Symmetric Difference: {1, 2, 3, 4, 6, 7, 8, 9}

**59-Write a Python program to find the maximum and minimum values in a set**

In [212]:
s={1,2,3,4,5,6}
print(max(s))
print(min(s))

6
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.**

In [217]:
from itertools import combinations
val=9
l=[1,2,3,4,5,6,7,8,9]
for com in combinations(l,2):
    if(sum(com)==val):
        print(com)

(1, 8)
(2, 7)
(3, 6)
(4, 5)